@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*home.html*/

body{
    font-family: 'Poppins', sans-serif;
    background-color:#F5F1ED;
    padding: 0;
    margin: 0;
    border: none;
    color:#252323;
    padding:10px;
    min-width: 350px;
    min-height: 370px;
}

.header{
    display: flex;
    justify-content:center;
    align-items:center;
}


#greeting {
    text-align: center;
    font-size: 20px;
    flex-grow: 0.7;
}

.btn-ctn{
    display: flex;
    gap:10px;
}

button{
    font-family: 'Poppins';
    padding:7px;
    border-radius: 10px;
    background-color: #DAD2BC;
    color:#252323;
    font-weight: 500;
    border:none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    margin-left: 5px;
}

button:hover{
    background-color: #A99985;
    transform: scale(1.05);
}

button:disabled {
    background-color: #C0B6A4; 
    color: #6F6C63; 
    cursor: not-allowed;
    transform: none; 
}

.text-ctn{
    display: flex;
    flex-direction: column;
}

#coverLetter{
    margin-top: 10px;
    resize:none;
    border:none;
    font-family: 'Poppins';
}

img{
    height:20px;
    width: 20px;
    cursor: pointer;
    filter: brightness(0) saturate(100%) invert(11%) sepia(3%) saturate(330%) hue-rotate(357deg) brightness(96%) contrast(90%);
    transition: all 0.3s ease-in-out;
}


img:hover {
    transform: scale(1.1);
}

#copy, #download{
    margin-top: 5px;
    margin-right: 3px;
}

/*popup.html*/

#welcome{
    text-align: center;
    font-size: 25px;
    padding:0px;
    margin-bottom:0px;
}

#sub-hero{
    text-align: center;
    font-size: 15px;
    font-weight: 550;
    margin-top: 3px;
}

#hero{
    font-weight: 600;
    text-align: center;
    font-size: 20px;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:20px;
}

#resumeUpload{
    display: none;
}

.custom-file-upload {
    font-family: 'Poppins', sans-serif;
    padding: 10px 15px;
    border-radius: 10px;
    background-color: #A99985;
    color: #252323;
    font-weight: 500;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    display: inline-block;
    font-size:15px;
}

.custom-file-upload:hover {
    background-color: #DAD2BC;
    transform: scale(1.05);
}

.custom-file-upload:active {
    transform: scale(0.95);
}


#fileName {
    font-family: 'Poppins', sans-serif;
    color: #6F6C63;
}